/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
 .ql-snow .ql-tooltip {
    width: 50%;
    height: fit-content;
    transform: translateX(47%) translateY(10px);
  }