:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::before,
::after {
  box-sizing: border-box;
}
body {
  background: #ccc;
}

.postTitle {
  margin-top: 2rem !important;
  padding: 0 0 1rem 0 !important;
}
.postAuthor {
  padding: 0 0 2rem 0 !important;
}
.postBody {
  padding: 2rem 0 !important;
}
